  <nav class="post-nav">
    <span>上一篇</span>
    <span>下一篇</span>

    <% if page.prev.path %>
      <a class="prev" href="{{ url_for(page.prev.path) }}">
        <i class="iconfont icon-left"></i>
        <span class="prev-text nav-default">{{ page.prev.title }}</span>
        <span class="prev-text nav-mobile">{{ __('posts.prev_post') }}</span>
      </a>
    <% endif %>
    <% if page.next.path %>
      <a class="next" href="{{ url_for(page.next.path) }}">
        <span class="next-text nav-default">{{ page.next.title }}</span>
        <span class="prev-text nav-mobile">{{ __('posts.next_post') }}</span>
        <i class="iconfont icon-right"></i>
      </a>
    <% endif %>
  </nav>

